<div class="container text-center main-class">
    <app-header title="OH NO PAGE"></app-header>

    <div class="float-left mt-3 btn-back">
        <button routerLink="/choose-dashboard" type="button" class="btn btn-danger ">Back</button>
    </div>

    <div class="container mt-5 mb-5">
        <img src="../../assets/6b1c8412d080abe43f7085b75e314eae.gif" alt="crying image">

    </div>
    <strong>  <span class="mt-5 display-4 mb-5">Sorry We could not coplete your request please try again later</span> </strong>

</div>